In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
# Define path

In [15]:
path = r'C:\Users\Andrew\Desktop\Data Immersion 1\Instacart Basket Analysis'

In [16]:
# import orders_products_combinded and products

In [17]:
products_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [18]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [19]:
# Check shape of data

In [20]:
products_checked.shape

(49672, 6)

In [21]:
orders_products_combined.shape

(32434489, 9)

In [22]:
# Check columns for merge with indicator

In [23]:
products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [25]:
orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [26]:
# merge data on product_id

In [27]:
orders_products_combined_2 = orders_products_combined.merge(products_checked, on = ['product_id'], indicator = True)

In [28]:
orders_products_combined_2.head()

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [29]:
# Check _merge

In [30]:
orders_products_combined_2['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
# Remove _merge column

In [33]:
orders_products_combined_2 = orders_products_combined.merge(products_checked, on = ['product_id'])

In [34]:
# Remove unnamed column

In [35]:
orders_products_combined_2 = orders_products_combined_2.loc[:, ~orders_products_combined_2.columns.str.contains('^Unnamed')]

In [36]:
orders_products_combined_2.head()

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [37]:
# Should I take away the 2 to overide the original orders_products_combined?

In [38]:
# Export

In [39]:
orders_products_combined_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))